Factorio.exe
Factorio.exe
d3d11.dll
d3d9.dll
D3DCompiler_47.dll
dcomp.dll
devobj.dll
dinput8.dll
directxdatabasehelper.dll
dnsapi.dll
dsound.dll
DXCore.dll
dxgi.dll
ExplorerFrame.dll
gdi32.dll
gdi32full.dll
GdiPlus.dll
hid.dll
icm32.dll
igc64.dll
igd10iumd.dll
igd10um64xe.dll
igdgmm64.dll
imagehlp.dll
imm32.dll
InputHost.dll
msdmo.dll
mscft.dll
msvcp_win.dll
msvcp140.dll
msvcrt.dll
mswsock.dll
ucrtbase.dll
vcruntime140.dll
vcruntime140_1.dll
version.dll
winmm.dll
winmmbase.dll
XInput1_4.dll